@import "../../vars.css";

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  z-index: 2;
  background-color: var(--color-dark);
  width: 100%;
  position: sticky;
  top: 0;
  bottom: 0;
  left: 0;
}

.activeLink {

  border-radius: 100px;
  font-size: 30px;
  font-weight: 600;
  padding: 5px 15px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  background: linear-gradient(
    to right,
    var(--color-secondary) 50%,
    var(--color-third) 50% 
  );
  background-size: 200% 100%;
  background-repeat: no-repeat;
  background-position: right bottom;
  transition: all .4s ease-out;
}
.menuBtn {
  display: none;
}

.menu {
  display: flex;
}

.menuItems {
  display: flex;
  gap: 20px;
  list-style: none;
}

.menuItems a {
  font-size: 18px;
  color: var(--color-text);
  text-decoration: none;
  margin-right: 30px;
}


@media screen and (max-width: 830px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu {
    position: absolute;
    right: 0;
    margin-right: 10%;
    flex-direction: column;
    align-items: flex-end;
    gap: 11px;
    z-index: 3;
  }

  .menuBtn {
    display: block;
    cursor: pointer;
  }

  .menuItems {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 13px;
    border-radius: 10px;
    background: rgb(25, 55, 109);
    background: linear-gradient(
      0deg,
      rgba(25, 55, 109, 0.2) 0%,
      rgba(25, 55, 109, 1) 100%
    );
    padding: 24px 33px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  }

  .menuOpen {
    display: flex;
    z-index: 1;
  }
}