:root {
    /* Colours */
    --color-text: black;
    --color-primary: #d4ebeb;
    --color-secondary: #15A2A2;
    --color-dark: #006666;
    --color-bg: white;
  
    /* Fonts */
    --font-roboto: "Roboto";
  }