:root {
    /* Colours */
    --color-text: rgb(255, 255, 255);
    --color-primary: #d4ebeb;
    --color-button: #EF8354;
    --color-buttons: #db723d;
    --color-card: #7EB09B;
    --color-darker: #005252;
    --color-bg: white;
  
    /* Fonts */
    --font-ubuntu-mono: "Ubunto",  monospace; 
    --font-roboto: "Roboto"
  }